/*
.pagination {
	position: absolute;
	width: 100%;
	background-color: #ccc;
	bottom: 0;
	left: 0;
}
*/

.yPagination {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	padding: 5px 0;
	font-family: '微软雅黑';
	font-size: 14px;
}

	.yPagination a {
		text-decoration: none;
		display: inline-block;
		margin: 0 5px;
		padding: 0 5px;
		line-height: 20px;
		border-radius: 2px;
		color: #333;
	}

		.yPagination a.jump, .yPagination a.go {
			background-color: #666;
			color: #fff;
			border: 1px solid transparent;
		}

			.yPagination a.jump:hover, .yPagination a.go:hover {
				background-color: #fff;
				color: #333;
				border: 1px solid #666;
			}

	.yPagination input {
		line-height: 18px;
	}

		.yPagination input::-webkit-outer-spin-button,
		.yPagination input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		.yPagination input[type="number"] {
			-moz-appearance: textfield;
		}
